html {
    overflow-x: hidden;
}

body {
    padding-top: 0px;
    margin-bottom: 60px;
    padding-bottom: 0px !important;
    margin-bottom: -40px !important;
    font-family: 'Helvetica', 'Arial', 'Josefin Sans',sans-serif;
}


h2 {
    font-weight: lighter;
    color: crimson;
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
    
}


.page-footer a {
    color:white;
}

.subhead {
    border-bottom: crimson solid 3px;
    color: black;
    font-weight:lighter
        
}


.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:inherit;
    margin-left:inherit;
    width: 100%;
    height: 100%;
 }

 .carousel-caption {
     position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 10;
     padding-top: 20px;
     padding-bottom: 20px;
     color: #fff;
     text-align: center;
     background: rgba(246,246,246,0.1);
     height: 100%;
}

footer.well{ margin-bottom: -20px !important;}

footer {margin-bottom: -20px;}

.navbar li > a:hover {
    border-bottom: 2px solid crimson;
    opacity: 0.5;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu {
    display: none;
    border-radius: 0px;
    background-color: #f9f9f9;
    text-align:left
}

.carousel-caption h2 {
    font-weight: lighter;
    font-family: Helvetica;
}

.ppanel {
    color: transparent;
    width: 95%;
    position: absolute;
    font-weight:lighter;
    height: 100%;
}

.projectpanel {
    color: transparent;
    width: calc(100% - 30px);
    position: absolute;
    font-weight:lighter;
}
.projectpanel p {
    font-size: 20px;
}

.ppanel p {
    font-size: 20px;
}
.imgpanel {
    height: 40vh;

}
img {
}
.ppanel:hover {
    background-color: black !important;
    opacity: 0.8;
    color: white;
}

.npanel  {
    font-size: 1rem;
    background-color: white;
    color: crimson;
    font-weight: lighter;
}

.mpanel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 901px) {
    .requirements {
        padding-left: 8rem;
    }
    .navbar {
        background-color: #842930;
        border-bottom: 10px solid #842930;
    }
    #nav-item a {
        color: white;
    }

    #nav-item li > a:hover {
        border-bottom: 0px solid #842930;
        opacity: 0.5;
    }
    

    .banner {
        font-size: 5vw;
        font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif !important;
    }

    p {
        padding-left: 7rem;
        padding-right: 7rem;
        font-weight: lighter;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px) {
    .requirements {
        padding-left: 0rem;
    }

    .navbar {
        background-color: #842930;
        border-bottom: 10px solid #842930;
    }

    .npanel  {
        font-size: 0.9rem;
        background-color: white;
        color: crimson;
        font-weight: lighter;
    }

    .banner {
        font-size: 5vw;
    }
    .sub-banner {
        font-size: 1rem;
    }
    p {
        font-weight: lighter;
        font-size: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    #nav-item a {
        color: white;
    }

    #nav-item li > a:hover {
        border-bottom: 2px solid #842930;
        opacity: 0.5;
    }

}
